$standard-height: 15vw;
$standard-margin: 6vw;
$line-width: 0.5vw;

$card-text-padding: 5vw;

$choice-top-margin: 4vw;
$choice-bottom-margin: 4vw;
$button-margin: 4vw;
$choice-text-margin-left: 2vw;
$choice-background-height-factor: 2.2;

$color-white: #FFFFFF;
$color-yellow: #FFDD00;
$color-disabled: #EEEEEE;
$color-forbidden: #D9D9D9;
$color-dark: #707070;

$font-size-bigger: 5.5vw;
$font-size-normal: 4.5vw;

$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$standard-line-height: 1.5;
